/* шрифты */

body {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  color: #533738;  
  text-align: left;  
}

.header-main h2 {
  
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
  color: #533738;
}

.header-main .title-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0em;
}

.btn {
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}

.about-us h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
}

.section-about-us p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.exp-digits {
  font-size: 50px;
  line-height: 62px;
  color:#FFFFFF;
}

.exp-text {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color:#FFFFFF;
}

/* */

.portfolio h2 {
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #533738;
  text-align: left;
}

.our-works-btn {
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  
}

.our-team h2 {
font-size: 40px;
font-weight: 400;
line-height: 50px;
letter-spacing: 0em;
}

.cards p {
  
font-size: 18px;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}

.how-we-work h2 {
font-size: 40px;
font-weight: 400;
line-height: 50px;
text-transform: uppercase;
 color: #533738;
  
}

.how-we-work-step {
font-size: 30px;
font-weight: 500;
line-height: 30px;
color: #FFFFFF;
  
}

.how-we-work-text {
font-size: 18px;
line-height: 30px;
text-align: center;
  
}
/* шрифты конец */

.container {
  margin: 0;
  padding: 0;
  width: 1400px;
  text-align: center;
}

/* ХЕДЕР Начало */

li {
  list-style-type: none;
}

header {
  width: 1400px;

  padding-top: 36px;
  background: #f2eebf;
  background-image: url(/img/header-main.jpg);
}

nav {
  width: 1200px;

  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
}

.navigation {
  border: 1px solid black;
  margin: 0;
  padding: 0;

}

.logo {
  margin-left: 0;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  /*  background-image: url(/img/logo.svg); */
}

.logo::before {
  content: "";
  background-image: url(/img/logo.svg);
  background-repeat: no-repeat;
  background-position: center center;

  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: center;
}

.menu {
  border: 1px solid black;

  padding: 0;
  width: 840px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
.menu a {
  border: 1px solid black;
  text-decoration: none;
  color: #533738;
}

.phone {
  margin-left: auto;
  margin-right: 0px;
  padding-top: 2px;
}

.header-main {
  margin: 0;
  padding: 0;
  margin-left: 184px;
  margin-top: 91px;
  text-align: left;
  width: 534px;
}

h1 {
  margin: 0;
  padding: 0;
  display: none;
}

.header-main h2 {
  margin: 0;

}

.header-main .title-text {
  padding: 0;
  margin: 24px 0 0 0;

}

.btn {
  text-decoration: none;
  padding: 25px 66px 24px 68px;
  text-align: center;
  background: #cc8b86;
}

.title-link {
  margin: 0;
  margin-top: 46px;
  padding-bottom: 168px;
}

/* ХЕДЕР - КОНЕЦ  */

/* О НАС - НАЧАЛО */

.about-us {
  background: #f9eae1;
  margin: 0;
  padding: 0;
  padding-top: 65px;

}

.about-us h2 {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;

}

.section-about-us {
  padding: 0;
 
 border: 1px solid black;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.section-about-us img {
  margin-left: 182px;

  width: 445px;
  height: 465px;
}

.section-about-us p {
  margin: 0;
  /*  border: 1px solid red; */

  text-align: left;
  height: 330px;
  width: 528px;
}

.experience {
  padding:0;
  margin:0;
  padding-top:85px;
  padding-bottom:81px;
  border: 1px solid red;
  background: #8D7370;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

/* ПОРТФОЛИО начало */

.portfolio {
  border: 1px solid red;

  margin:0;
  padding:0;
  padding-top:65px;
  padding-left:100px;  
  padding-right:100px;
  background: #E5E5E5;
}

/* НАШИ РАБОТЫ */

.portfolio h2 {
  border: 1px solid red;  
  margin:0;
  padding:0; 
}

.our-works {
  margin:0;
  padding:0; 
    
  border: 1px solid red;

  
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  
  padding-top:10px;
}

.ver-1 {
  border: 1px solid red; 
  width:488px;
  height: 451px;
  margin-top:30px;

}
.ver-2 {
  border: 1px solid red; 
  width:692px;
  height: 451px;
  margin-top:30px;
 }

.our-works-btn {
  margin:0;
  padding:0;
  
  width: 294px;
  height: 37px;
  margin-top:40px;
  margin-bottom:65px;
  border: 0px solid red; 
  text-align: center;
  
}

/* НАША КОМАНДА */

.our-team {
/*  border: 1px solid blue;   */
  margin:0;
  padding:0;
  padding-left:181px;
  padding-right:181px;
  background: #E2C4BA;
}

.our-team h2 {
/*  border: 1px solid red;  */
  margin:0;
  padding:0;
  padding-top:50px;
  padding-bottom:40px;
}

.our-team-list {
/*  border: 1px solid black;   */ 
  margin:0;
  padding:0;
  
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.cards {
/*  border: 1px solid black; */
  width: 320px;
}

.cards img {
/*  border: 1px solid black; */
  width: 320px;
  height: 253px;
  padding-bottom:10px ;
  
}

.cards p {
  margin:0;
  padding:0;
  width: 320px;
  height: 180px;
  padding-bottom:10px ;
  
}

.how-we-work {
  
  padding:0; 
  margin:0;
  padding-top: 35px;
  background: #E2C4BA;
  padding-left:99px;
  padding-right:99px;  
}

.how-we-work h2 {
/*   border: 1px solid red; */
  padding:0; 
  margin:0;
    
}


.how-we-work-list {
  padding:0;
  margin:0;
  padding-top:40px;
  padding-bottom:81px;
  border: 1px solid blue;
  background: #E2C4BA;

  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
    grid-gap: 20px;

     
}

.how-we-work-list li {
  
  border: 1px solid blue;


  
}

.how-we-work-step {
  padding:0;
  margin:0;
  width: 70px;
  padding-top:20px ;
  padding-bottom:20px ;

  border-radius:50px;
  display: inline-block;  
  background-color: #8D7370;
  
}

.how-we-work-text {
    
}
  
